<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>City Info</title>
</head>
<body style="text-align: center">
<h2>City</h2>

<div style="background-color: darkgray; text-align: center; margin: auto; padding:20px; display: inline-block">
  <h2 th:text="${info.name}"></h2>
  <table style="border: solid black 5px; margin: auto">
    <tr>
      <td>ID:</td>
      <td th:text="${info.id}"></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td th:text="${info.name}"></td>
    </tr>
    <tr>
      <td>Country Code:</td>
      <td th:text="${info.countryCode}"></td>
    </tr>
    <tr>
      <td>Country Name:</td>
      <td th:text="${info.countryName}"></td>
    </tr>
    <tr>
      <td>District:</td>
      <td th:text="${info.district}"></td>
    </tr>
    <tr>
      <td>Population:</td>
      <td th:text="${info.population}"></td>
    </tr>
    <tr>
      <td>Temperature:</td>
      <td th:text="${info.temp}"></td>
    </tr>
    <tr>
      <td>Local Time:</td>
      <td th:text="${info.time}"></td>
    </tr>
  </table>
  <form style="text-align: left; padding:20px" action="#" th:action="@{/cities/reservation}"  method="post">
    <input type="hidden" name="city" th:value="${info.name}">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <br>

    <input type="radio" id="luxury" name="level" value="Luxury">
    <label for="luxury">Luxury $1000</label><br>
    <input type="radio" id="veryGood" name="level" value="Very Good">
    <label for="veryGood">Very Good $500</label><br>
    <input type="radio" id="good" name="level" value="Good">
    <label for="good">Good $350</label>

    <input type="submit" value="Book Trip!">
  </form>
</div>

</body>
</html>
